!.gitignore
*.undo
*.orig
*.db
*.aux
*.bbl
*.blg
*.idx
*.log
*.out
*.pdf
*.toc
.DS_Store
*.apk
*.ap_
*.swp
*.dex
*.class
technology_scouting/calender_api/AndroidQuickCalendar/bin/net/*
technology_scouting/calender_api/gen/*
*R.java
