<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.kangaroo"
      android:versionCode="1"
      android:versionName="1.0">
    
    <application 	android:icon="@drawable/icon" 
    				android:label="@string/app_name">
		
		<activity 	android:name="ActivityBuildPlan" 
					android:icon="@drawable/icon" android:label="kangaroo">
		            <intent-filter>
		                <action android:name="android.intent.action.MAIN" />
		                <category android:name="android.intent.category.LAUNCHER" />
		            </intent-filter>
		</activity>
		<activity android:name="ActivityTask"></activity>
		<service android:name="ServiceAlertUser"></service>
		<service android:name="ServiceCalendar"></service>
		<service android:name="ServiceCallLocation"></service>
		<service android:name="ServiceCallTick"></service>
		<service android:name="ServiceCheckPlan"></service>
		<service android:name="ServiceOptimizePlan"></service>
		<service android:name="ServiceRoute"></service>
	</application>
    <uses-sdk android:minSdkVersion="3" />
</manifest> 